<!DOCTYPE html>

{% load staticfiles %} 

<html>

<head>
    <title>Rango</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" /> <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" /> <!-- CSS -->
    <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/bootstrap.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/csrf.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/js.cookie.js" %}"></script> <!-- JavaScript -->
</head>

<body>
    <h1>Sorry,404 ERROR!</h1>
    <h2>Content Does Not Exists!</h2>
    <a href="/rango">Go back to Index</a><br />

</body>

</html>