<!DOCTYPE html>

{% load staticfiles %} 

<html>

    <head>
        <title>Rango-About</title>
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" /> <!-- CSS -->
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" /> <!-- CSS -->
        <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
        <script src="{% static "js/bootstrap.js" %}"></script> <!-- JavaScript -->
        <script src="{% static "js/bootstrap.min.js" %}"></script> <!-- JavaScript -->
        <script src="{% static "js/csrf.js" %}"></script> <!-- JavaScript -->
        <script src="{% static "js/jquery.easing.min.js" %}"></script> <!-- JavaScript -->
        <script src="{% static "js/js.cookie.js" %}"></script> <!-- JavaScript -->
    </head>

    <body>
        <h1>Rango says...</h1>
        This is a About Page! <strong>{{ boldmessage }}</strong><br />
        <a href="/rango/">Index</a><br />
        <img src="{% static "images/taylor2.jpg" %}" style="width:30%" alt="Picture of taylor" />
    </body>

</html>