{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Index{% endblock%}
{% block body_block %}
{% if user.is_authenticated %}
<h1>Rango says..hello {{ user.username }}!</h1>
{% else %}
<h1>Rango says..hello world!</h1>
{% endif %}
<p>Visits:{{ visits }}</p>
{% if categories %}
<ul>
	{% for category in categories %}
	<!-- Following line changed to add an HTML hyperlink -->
	<li><a href="{% url 'rango:category' category.slug %}">{{ category.name }}</a></li>
	{% endfor %}
</ul>
{% else %}
<strong>There are no categories present.</strong>
{% endif %}

{% if pages %}
<hr />
<ul>
	{% for page in pages %}
	<!-- Following line changed to add an HTML hyperlink -->
	<li><a href="{{ page.url }}">{{ page.title }}</a></li>
	{% endfor %}
</ul>
{% else %}
<strong>There are no categories present.</strong>
{% endif %}
{% endblock %}