<!DOCTYPE html>

{% load staticfiles %} 

<html>

<head>
    <title>Rango</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" /> <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" /> <!-- CSS -->
    <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/bootstrap.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/csrf.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/js.cookie.js" %}"></script> <!-- JavaScript -->
</head>

<body>
    <h1>Rango says..hello world!</h1>

    {% if categories %}
    <ul>
        {% for category in categories %}
        <!-- Following line changed to add an HTML hyperlink -->
        <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no categories present.</strong>
    {% endif %}

    {% if pages %}
    <hr />
    <ul>
        {% for page in pages %}
        <!-- Following line changed to add an HTML hyperlink -->
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no categories present.</strong>
    {% endif %}

</body>

</html>