<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Rango-Register</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" /> <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" /> <!-- CSS -->
    <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/bootstrap.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/csrf.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script> <!-- JavaScript -->
    <script src="{% static "js/js.cookie.js" %}"></script> <!-- JavaScript -->
</head>

     <body>
        <h1>Register with Rango</h1>

        {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="/rango/">Return to the homepage.</a><br />
        {% else %}
        Rango says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/rango/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>