*.zip
*.rar
*.tmp
*.err
*.pdf
*.nrm
*.tii
*.tis
*.prx
*.fdt
*.fdx
*.fnm
*.frq
.metadata/
.recommenders/
DuoMeiTi/
*.pyc
*.jsp
*.ini
*.json
*.gen
*.swp
.DS_Store
*private*
*bin/
*lib/
*include/
.*
!.gitignore
*.mp4
*.mkv
*.mp3
*logs/
*.framework
