body{
    background-image: url(/img/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
/*     background-color:rgb(233,248,249); */
}

#basecontent{
	width:100%;
	margin:0 auto;
}

#headerpic{
    height:80px;
}
#errorcontent{
    color:white;
}
a{
    outline:none!important;
}
a:hover,a:focus{
    text-decoration:none;
    color:white;
}
.masthead{
    border:5px solid #88C1E7;
    /*border-radius:20px;*/
    height:-5px;
    padding:2px;
}
.menu-list{
    border:1px solid #ccc;
    background-color: white;
    /*background-image:url(/static/images/menubutton/middle_down.png);*/
    /*background-size:cover;*/
    /*border-radius:20px;*/
    width:205px;
    
}
.main-container{
    padding-left:3px;
    padding-right:3px;
}
.mycontent{
    background-color:#FAFAFA;
    min-height:870px;
   /* border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;*/
    border:1px solid white;
}
.no-nav{
    /*border-top-left-radius:15px;
    border-top-right-radius:15px;*/
    min-height:900px!important;
}



.menu-button-middle{
    color:#444444;
    width:100%;
    background-color: white;
    /*background-image:url(/static/images/menubutton/middle_down.png);*/
    /*background-size:cover;*/
    border-top:1px solid gray;

    height:40px;
    outline:none;
    /*color:white;   */
    font-size:20px;
    display:block;
    text-align:left;
    /*line-height:50px;*/
    padding-left: 15px;
    padding-top:5px;
}
.menu-button-middle:hover{
    background-color:rgb(0,114,227);
}

.highlight{
    background-color: rgb(0,114,227);
    color:#ffffff;
}

.main-content{
 /*border-radius:20px;*/
    border:3px solid white;
    min-height:900px;
    max-height:910px;
    overflow:auto;
    margin-left:-25px;
    margin-right:-1px;
}
.menu-blank{
    background-color:red;
}
.navbar-button{
    width:100%;
    height:30px;
    line-height:30px;
    /*background-image:url(/static/images/menubutton/logo.jpg);*/
    /*background-size:cover;*/
    border:0px ;
    outline:none;
    color:black;   
    font-size:16px;
    font-weight:bold;
    display:block;
    text-align:center;
}
.traincss{
	margin-top:50px;
}
.trainbtn{
	padding:15px;
/* 	text-align:right; */
}
.navbar-button-left{
    /*border-top-left-radius:18px;*/
}

.navbar-button-right{
    /*border-top-right-radius:18px;*/
}
.nopadding{
    padding-right:0px;
    padding-left:0px;
}
.nomargin{
    margin-left:0px;
    margin-right:0px;
}

.navbar-button:hover{
    background-image:url(/static/images/logo.jpg);
    background-size: cover;
}

/*#headerpic{
    height:80px;
    background-image:url(/static/images/banner.png);
}*/
#welcome_word{
    font-size:25px;
    line-height:80px;
    color:rgb(255,87,90);
    margin-right:20px;
}

.nav-left{
    padding-left: 60px!important;
}

.backgrd{
    background-image: url(/static/images/dh.jpg);
    background-size:cover;
}

