{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}{{ category_name }}{% endblock %}
{% block body_block %}
<div class="page-header">
<h1 id="category_name">{{ category_name }}</h1>
</div>

<div>
{% if category %}
{% if pages %}
<ul class="list-group" id="pages">
    {% for page in pages %}
    <li clss="list-group-item"><a href="{% url 'rango:goto' %}?page_id={{ page.id }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<strong>No pages currently in category.</strong>
{% endif %}
{% if user.is_authenticated %}
<button class="btn btn-default btn-primary" href="{% url 'rango:add_page' category_name_slug %}">Add a Page</button>
{% endif %}
{% else %}
The specified category {{ category_name }} does not exist!
{% endif %}
</div>
<div>
<p>

<strong id="like_count">{{ category.likes }}</strong> people like this category

{% if user.is_authenticated %}
        <button id="likes" data-catid="{{category.id}}" class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        Like
        </button>
{% endif %}

</p>
</div>
{% if user.is_authenticated %}

<div class="row">
    <div class="panel panel-primary">
        <div class="form-group" style="margin:5%;">

            <form class="form-inline" id="user_form" method="post" action="{% url 'rango:category' category.slug %}">
                {% csrf_token %}
                <!-- Display the search form elements here -->
                <input class="form-control" type="text" size="50" name="query" value="{% if query %}{{ query }}{% endif %}" id="query" />
                <input class="btn btn-primary" type="submit" name="submit" value="Search" />
            </form>
        </div>

        <div class="panel">
            {% if result_list %}
            <div class="panel-heading">
                <h3 class="panel-title">Results</h3>
                <!-- Display search results in an ordered list -->
                <div class="panel-body">
                    <div class="list-group">
                        {% for result in result_list %}
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading"><a href="{{ result.link }}">{{ result.title }}</a><button name="add_page_from_link" class="btn btn-default" style="float:right;" data-catid="{{category.id}}" data-pagetitle="{{result.title}}" data-pageurl="{{ result.link }}"><span class="glyphicon glyphicon-plus"></span> Add To Category</button></h4>
                            
                            <p class="list-group-item-text">{{ result.summary }}</p>
                        
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
